<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
   <script src="https://kit.fontawesome.com/5b2c44ddba.js" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="css/main.css">
   <title>MINI Countryman | MINI Canada</title>
</head>
<body>
   <main>

      <header>
         <div class="logo-img">
            <img src="./images/logo.png" alt="Mini Cooper Logo">
         </div>
         <div>
            <nav class="navbar">
               <ul>
                  <li> <a href="#">MODELS</a> </li>
                  <li> <a href="#">SHOP</a> </li>
                  <li> <a href="#">DISCOVER</a> </li>
                  <li> <a href="#">CONNECT</a> </li>
               </ul>
            </nav>
         </div>
      </header>


      <section class="header">
         <div class="header-img">
            <img src="./images/header.jpg" alt="header image">
            <div class="header-content">
               <h2>INSPIRE YOUR DRIVE.</h2>
               <p>THE NEW MINI COUNTRYMAN. FROM $43,190.</p>
            </div>
         </div>

         <div class="discover-btn-wrapper">
            <a href="#book-test" class="discover-btn">
            Discover our models <i class="fas fa-chevron-right"></i>
            </a>
         </div>

      </section>


      <section class="book-test" id="book-test">
         <div class="book-test-content">
            <p>The new MINI Countryman ALL4 is as daring and adventure minded as you are. Whether you prefer playing in the city or escaping it at the first opportunity, you’ll have the freedom and flexibility to go wherever your wandering mind takes you. Time to discover the new MINI Countryman and start writing your next adventure.</p> 
         </div>
      </section>


      <!-- Models section -->

      <section id="app" class="models-section">
         <div>
            <h2>THE MINI COUNTRYMAN LINEUP.</h2>
         </div>
         <!-- car thumbnail component -->
         <div class="models-container">
            <thecarthumb @loadlbdata="loadLightbox" v-for="car in carData" :car="car"></thecarthumb>
         </div>
         <div class="error">Loading error. Please contact support@mini.ca for assistance. </div>


         <!-- custom light component goes here -->
         <thelightbox v-if="showLB" :car="lbData"></thelightbox>
         <!-- end lightbox -->
      </section>


      <!-- feature section -->
      <section class="feature-section">
         <!-- <div>
            <h2>Uncover Every Detail</h2>
         </div> -->
         <div class="feature-container">
            <div class="text-box feature-one">
               <div><h3>REDESIGNED<br> FRONT END.</h3></div>
            </div>
            <div class="text-box feature-two">
               <div><h3>PIANO<br> BLACK ACCENTS.</h3></div>
            </div>
            <div class="text-box feature-three">
               <div><h3>UNION JACK<br> TAILLIGHTS.</h3></div>
            </div>
            <div class="text-box feature-four">
               <div><h3>EASY OPENER.</h3></div>
            </div>
         </div>
      </section>


      <section class="video">
         <div class="video-wrapper">
            <video src="./images/fast-facts.mp4" playinline muted autoplay loop poster="countryman.jpg"></video>
            <div class="video-highlight">
               <h2>HIGHLIGHTS & FEATURES.</h2>
               <p>DISCOVER THE DETAILS.</p>
            </div>
         </div>
      </section>


      <footer>
         <div class="footer-content">
            <img src="./images/logo-white.png" alt="logo-white">

            <h3>&#169; 2022 Mini Canada.</h3>
            
         </div>
      </footer>

   </main>

   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="js/main.js" type="module" defer></script>
</body>
</html>