.book-test {
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   


   .book-test-content {
      margin: 0 auto;
      width: 60%;
      text-align: center;
      padding: 5em 0;
      
      p {
         line-height: 1.5em;
         
         &:not(:last-child) {
            padding-bottom: 1em;
         }
      }

   }
}